<div class="fixed-action-button float-right">
  <button type="button" class="btn btn-success" >
    <a href="/menu/add" style="color: antiquewhite;"> Add Menu Item</a>
  </button>
  <button type="button" class="btn btn-success" >
  <a href="/menu/see" style="color: antiquewhite;"> Orders Recieved</a>
  </button>
</div>