{{#if error}}
  <div class="alert alert-danger">{{error}}</div>
{{else}}
{{/if}}


{{#each errors}}
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{text}}</div>
{{else}}
{{/each}}