{{#if success_msg}}
  <div class="alert alert-success alert-dismissible">
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{error_msg}}</div>
{{/if}}

