<div class="about-content mb-3">
<h1>About</h1>
<h3>-Created by Rohit Choudhary</h3>
<a class="btn btn-primary" href="https://github.com/rohitchoudhary87" role="button">Rohit's Github</a>
<a class="btn btn-primary" href="https://www.linkedin.com/in/rohit-choudhary-b68ab6140/" role="button">Rohit's LinkedIn</a>
</div>

<div class="jumbotron jumbotron-1 text-center">
  <h1 class="display-3 ">FoodShala</h1>
  <p class="lead lead_index">App for Ordering food online</p>
  <a href="/restaurant/login" class="btn btn-lg btn-primary">Restaurant</a> 
  <a href="/auth/google" class="btn btn-lg btn-primary">Customer</a> 
</div>
