<div class="full">
  <div class="welcome">
    <h1>Welcome to FoodShala</h1>
    <h3>The ultimate destination for Foodies</h3>
    <h3>Enjoy meals from your favorite restaurants at your doorstep</h3>
  </div>

  <div class="jumbotron jumbotron-1 text-center jumbo1">
    <h1 class="display-3 ">Restaurants</h1>
    <p class="lead lead_index">Restaurants owners can login and add menu items</p>
    <a href="/restaurant/login" class="btn btn-lg btn-primary">Login</a>
    <a href="/restaurant/register" class="btn btn-lg btn-primary">Register</a>
  </div>

  <div class="jumbotron jumbotron-1 text-center jumbo2">
    <h1 class="display-3 ">Customers</h1>
    <p class="lead lead_index">Customers can login and order menu items</p>
    <a href="/auth/google" class="btn btn-lg btn-danger"><i class="fa fa-google"></i> Login with Google</a>
  </div>
</div>